name: Push Image
run-name: Release ${{ github.ref_name }}
on:
  release:
    types: [published]

env:
  GITHUB_ACTION_TAG: ${{ github.ref_name }}

jobs:
  push-multiarch:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v6

    - name: get the build-args values
      id: get-build-args
      run: |
        echo "$(make -s log | grep TAG)" >> "$GITHUB_ENV"
        echo "$(make -s log | grep GOLANG_VERSION)" >> "$GITHUB_ENV"

    - name: Build and push image
      uses: rancher/ecm-distro-tools/actions/publish-image@master
      with:
        image: hardened-kubernetes
        tag: ${{ github.event.release.tag_name }}
        public-repo: rafiusky
        public-username: ${{ secrets.DOCKER_USERNAME }}
        public-password: ${{ secrets.DOCKER_PASSWORD }}

        push-to-prime: false
